[submodule "https:/github.com/mckellwoodland/stylegan2-ada-pytorch/tree/d72cc7d041b42ec8e806021a205ed9349f87c6a4"]
	path = https:/github.com/mckellwoodland/stylegan2-ada-pytorch/tree/d72cc7d041b42ec8e806021a205ed9349f87c6a4
	url = https://github.com/mckellwoodland/gan_anom_detect
